{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        {% if produtos %}

        {% for produto in produtos %}
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-img-top">
                    <div id="carouselExample_{{produto.id}}" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{{produto.img_url_principal}}" class="d-block w-100 card-img-top" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="{{produto.img_url_secundaria}}" class="d-block w-100 card-img-top" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExample_{{produto.id}}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselExample_{{produto.id}}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Próximo</span>
                        </button>
                    </div>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-left">{{produto.descricao}}</h5>
                    <p class="card-text text-center text-danger h1 curr_brl">{{produto.preco}}</p>
                    <a href="{% url 'produto_detalhe' produto.id %}" class="btn btn-lg btn-primary mt-1">Detalhe</a>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}

        <div class="col-12 d-flex flex-row justify-content-center align-items-center">
            <img src="{% static 'lojinha/semproduto.png' %}" class="float-start w-25"/>
            <div class="text-center">
                <h1 class="display-1">404</h1>
                <h1>Nenhum produto encontrado!</h1>
                <h2>Cadastre na administração</h2>
            </div>
        </div>

        {% endif %}
    </div>
</div>

{% endblock %}